.imgefeito {
  margin: 0;
  overflow: hidden;
  }
.imgefeito a {
  text-decoration: none;
  
}
.imgefeito a:hover {
  cursor: pointer;
}

.imgefeito a img {
 
  
  border:solid;
  border-radius: 10px 10px 10px 10px;
  border-color: black;
  background: white;
  border-width:thin;
}

.imgefeito a:hover .desc{
  display: block;
  font-size: 12px;
  font-family: Verdana;
  background: white;
  filter:alpha(opacity=75);
  opacity:.75;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
  color: black;
  width: 257px;
  margin-top: -6px;
  margin-left: 3px;
  color: black;
  width: 263px;
  margin-top: -6.5px;
  border-radius: 0px 0px 10px 10px;

}
.imgefeito a:hover .desc strong {
  display: block;
  margin-bottom: 5px;
  font-size:1.5em;
}

.imgefeito a .desc {  display: none; }

.cpds{
  margin-top: 32px;
}
