/**********************************************************************/
/************************** SLIDER ***********************************/
/********************************************************************/

.slidersection {
  margin-top: 69px; /* Foswiki */
}
.rslides {
  padding-top:200px;
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  width: 100%;
  margin-top:80px;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.gif") no-repeat left top;
  margin-top: -45px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
/**********************************************************************/
/************************ PROGRAMAÃ‡ÃƒO*********************************/
/********************************************************************/


.programa table {
  font-family: Verdana;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.programa thead tr th {text-align:center;}
.programa tbody tr td {text-align:center;}
.programa th,
.programa td {

  font-weight: normal;
  font-size: 12px;
  padding: 8px 15px;
  line-height: 20px;
 
  vertical-align: middle;
  
  border-top: 1px solid #dddddd;
}
.programa thead th {
  text-decoration: none;
  color:white;
  background: #232526;
  vertical-align: bottom;
}   
.programa tbody > tr:nth-child(odd) > td,
.programa tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}    


.programa1 table {
  font-family: Verdana;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 40%;
  margin-bottom: 20px;
  text-align: center;
margin-left: -3%;
}
.programa1 thead tr th {text-align:center;}
.programa1 tbody tr td {text-align:center;}
.programa1 th,
.programa1 td {

  font-weight: normal;
  font-size: 12px;
  padding: 8px 15px;
  line-height: 20px;
 
  vertical-align: middle;
  
  border-top: 1px solid #dddddd;
}
.programa1 thead th {
  text-decoration: none;
  color:white;
  background: #232526;
  vertical-align: bottom;
}   
.programa1 tbody > tr:nth-child(odd) > td,
.programa1 tbody > tr:nth-child(odd) > th {
  background-color: #fafafa;
}    




/**********************************************************************/
/************************ PALESTRANTES *******************************/
/********************************************************************/

#palestrantes {
  padding-top: 60px;
  padding-bottom: 100px;
}
.palestrante-img{
    border-radius:50%;
      moz-border-radius:50%;
        -webkit-border-radius:50%;
    width:180px;
    height:170px;
    margin:0 auto;
}
.palestrante-descricao{
  padding-left:15px;
  padding-right:15px;
}
.palestrante-top{
  padding-top:20px;
  background-color:#C8DAD6;
  width:100%;
  height:215px;
}
.palestrante-bottom{
  padding-top:10px;
  margin-top:0px;
  background-color:#E1EAE5;
  width:100%;
  height:160px;
}
.palestrante-nome{
  font-size:1.5em;
  text-align:center;
}



/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border:  5px solid #fff;
  left: -5px;
  background: #fff;
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
      -ms-transform: translatez(0);
      -o-transform: translatez(0);
      transform: translatez(0);
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -50px;
  width: 100%;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
    -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url(../IMG/preto.jpg) no-repeat 0 -32px;
}
.bx-wrapper .bx-next {
  right: 18px;
  background: url(../IMG/preto.jpg) no-repeat -43px -32px;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 500;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/**********************************************************************/
/****************** MEDIA QUERIES ************************************/
/********************************************************************/
@media(max-width:1200px){
  .jumbotron .mobile {
    margin-left: -164px;
  }
}
@media(max-width:991px){
  .slidersection {
    margin-top: 60px; /* Foswiki */
  }
  .logo{
    margin-top:7px;
  }
  .logo img{
    width:120px;
  }
  .navbar-brand {
    margin-top: 1px;
  }
  .navbar-collapse {
    float: right;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 14px;
    padding: 25px 6px;
  }
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    font-size: 28px;
    float: left;
    margin: 4px 0;
    width: auto;
  }
  .navbar-inverse .navbar-brand .fa-stack {
    font-size: 22px;
  }
  .navbar-nav{
    text-align:center;
    float:none;
  }
  .bx-wrapper {
    width:620px;
  }
  .callbacks_container {
    margin-top:70px;
  }
  .teste {
    width:100%;
  }
}
@media (max-width: 767px) {
  .navbar-collapse {
    float: none;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    float: left;
    margin: 4px 0 15px 15px;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 14px;
    padding: 9px 15px;
  }
  .cent{
    text-align:center;
    margin-left:-35px;
  }
  .org{
    margin-bottom:-1px;
  }
}
@media (max-width: 650px) {
  .bx-wrapper {
    max-width:300px;
    width:300px;
  }
  .teste .bx-wrapper{
    width:100%;
    max-width:100%;
  }
}
@media (max-width: 479px) {
  .programa table {
    font-size:11px;
  }
}

#drop > a:focus,
#drop > a:link {
  background:none;
  color:#333;
}
#drop > a:focus {
  background:#12a19b;
  color:white;
}
#drop > a:active{
  background:#12a19b;
  color:white;
}
#drop > a:hover{
  background:#12a19b;
  color:white;
}
h4{
  margin-top:0;
  font-family: Verdana;
  font-size: 20px;
  color: black;
  padding-bottom: 16px;
  text-align: center;
}
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html{
}
body{

}
footer{
  font-family: verdana;
  font-size: 9px;
  color: #ffffff;
    background-color: #232526;
   text-align: center;
    text-decoration: none;
    border: 1px solid #161718;
    border-top: none;
    width: 57.8%;
    margin: 0 auto;
    padding: 2px 0;
    box-sizing: border-box;

}
.menu{
  text-align: center;
  padding-top: 25px;
  margin-bottom:200px;
  width:100%;
}

.menu .arrow{
  opacity: 0.4;
}

.menu h1{
  margin-top:0;
  font: normal 32px/1.5 'Open Sans', sans-serif;
  color: #3F71AE;
  padding-bottom: 16px;
}

.menu h2{
  color: #F05283;
}

.menu h2 a{
  color:inherit;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #F05283;
  padding: 10px 15px;
  border-radius: 3px;
  font: bold 14px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.menu h2 a:hover{
  background-color:#F05283;
  transition:0.2s;
  color:#fff;
}

.menu ul {
  margin: 60px auto 0;
}

.menu ul a{
  text-decoration: none;
  color: #FFF;
  text-align: left;
  background-color: #B9C1CA;
  padding: 10px 16px;
  border-radius: 2px;
  opacity: 0.8;
  font-size: 16px;
  display: inline-block;
  margin: 4px;
  line-height: 1;
  outline: none;

  transition: 0.2s ease;
}

.menu ul li a.active{
  background-color: #66B650;
  pointer-events: none;
}

.menu ul li a:hover {
  opacity: 1;
}

.menu ul{
  list-style: none;
  padding: 0;
}

.menu ul li{
  display: inline-block;
}


}

.tz-link{
  text-decoration: none;
  color: #fff !important;
  font: bold 36px Arial,Helvetica,sans-serif !important;
}

.tz-link span{
  color: #da431c;
}
.intro{
  
  font-family: Verdana;
  text-decoration: none;
  margin-left: 21.5%;
  margin-top:5%;
  text-align: left;
  color: black;
}
.mapa{
  width:57.2%;
  height: 57.2%;
}

#imgpos{
  float: center;
  height: 250px;
  width: 20%;
  
  margin-top: 5%;
}
.intro{
  width: 57%;
  color: black;
  text-align: justify;
}
.p6{
  text-align: center;
}

fieldset{
  font-family: Verdana;
  width: 27.8%;
  margin-left: 21.6%;
  border:1px;
}
.field1{
  float:right;
  font-family: Verdana;
  width: 27%;
  margin-top: -23.8%;
  margin-right: 21%;
  border:1px;
}

  .modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    border-radius: 10px;
      

  }

  .modalDialog:target {
    opacity:1;
    pointer-events: auto;
  }

  .modalDialog > div {
    width: 40%;
    margin: 10% auto;
    padding: 10% auto;
    text-align: center;
    background:#dddddd ;

    border-radius: 10px;
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    text-align: center;
    right:30.2%;
    top:20%;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { background: #00d9ff; }
.botao {

 background-color: #232526;
 color: white;
 text-decoration: none;
 border:solid;
 border-color: #232526; 
}
h5{
    text-align: center;
    font-family: Verdana;
  font-size: 20px;
  color: black;
  padding-bottom: 16px;
}
#Cnome{
  width: 60%;
  margin-left: 1%;
  border-radius: 10px;
  text-align: center;
}
#Crg{
  width: 60%;
  margin-left: 1%;
  border-radius: 10px;
  text-align: center;
}
#Ccpf{
  width: 60%;
  margin-left: 1%;
  border-radius: 10px;
  text-align: center;
}
#Cemail{
  width: 60%;
  margin-left: 1%;
  border-radius: 10px;
  text-align: center;
}
#Cestado{
  width: 60%;
  margin-left: 1%;
  border-radius: 10px;
  text-align: center;
}
#Ccidade{
  width: 60%;
  margin-left: 1%;
  border-radius: 10px;
  text-align: center;
}
#Cmini{
  width: 60%;
  margin-left: 1%;
  border-radius: 10px;
  text-align: center;
}
#Ccpf{
  width: 60%;
  margin-left: 1%;
  border-radius: 10px;
  text-align: center;
}
.obs{
  text-align: center;
}
#idconfirmar{
  background-color:#232526; 
  color:white;
  border:none;
  font-family: Verdana;
  width: 20%;
  padding: 0.7%;
  border-radius: 10px;
}
#idcancelar{
  background-color:#232526; 
  color:white;
  border:none;
  font-family: Verdana;
  width: 20%;
  padding: 0.7%;
  border-radius: 10px;
}
.deposito{
  margin-left: 21.2%;
  font-family: verdana;
  color:#232526;
  text-align: left;
  width: 57%;
}
.inscreva{
  float:right;
}
.menu3{
  width:77%; 
  margin-top: 10%;
  margin-left: 21.5%;
  
}
.menu3 .arrow{
  opacity: 0.4;
}

.menu3 h1{
  margin-top:0;
  font: normal 32px/1.5 'Open Sans', sans-serif;
  color: #3F71AE;
  padding-bottom: 16px;
}

.menu3 h2{
  color: #F05283;
}

.menu3 h2 a{
  color:inherit;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #F05283;
  padding: 10px 15px;
  border-radius: 3px;
  font: bold 14px/1 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.menu3 h2 a:hover{
  background-color:#F05283;
  transition:0.2s;
  color:#fff;
}

.menu3 ul {
  max-width: 600px;
  margin: 60px auto 0;
}

.menu3 ul a{
  text-decoration: none;
  color: #FFF;
  text-align: left;
  background-color: #B9C1CA;
  padding: 10px 16px;
  border-radius: 2px;
  opacity: 0.8;
  font-size: 16px;
  display: inline-block;
  margin: 4px;
  line-height: 1;
  outline: none;

  transition: 0.2s ease;
}

.menu3 ul li a.active{
  background-color: #66B650;
  pointer-events: none;
}

.menu3 ul li a:hover {
  opacity: 1;
}

.menu3 ul{
  list-style: none;
  padding: 0;
}

.menu3 ul li{
  display: inline-block;
}

@media (max-height:800px){
}

@media (max-width: 900px) {

  .menu3 {
    padding-top:40px;
    margin-bottom: 80px;
  }

}

  .modalDialog3 {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    border-radius: 10px;
      

  }

  .modalDialog3:target {
    opacity:1;
    pointer-events: auto;
  }

  .modalDialog3 > div {
    width: 29%;
    margin: 10% auto;
    padding: 10% auto;
    text-align: center;
    background:#dddddd ;
    border-radius: 10px;
  }

  .close3 {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    text-align: center;
    right:35.6%;
    top:20%;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close3:hover { background: #00d9ff; }
.botao3 {

 background-color: #232526;
 color: white;
 text-decoration: none;
 border:solid;
 border-color: #232526; 
}
